.containerQuemSomos {
  background-color: aquamarine;
  height: 85vh;
  background-image: url("../../assets/backgroundQuemSomos.png");
  background-repeat: no-repeat;
  background-size: 100% 85vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.boxTextoQuemSomos {
  //border: solid red;
  width: 45%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 10px 10px;
  margin: 0 10px 0 0;

  h2 {
    color: #205691;
    font-size: 1.8rem;
    //  border: solid red;
    width: 70%;
  }

  p {
    //   border: solid red;
    font-size: 1rem;
    width: 90%;
  }
}
