.containerTelaPerfil {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  article {
    display: flex;
    border: solid #efeeea;
    border-radius: 16px;
    justify-content: space-around;
    height: 50vh;
    align-items: center;
  }
  h2 {
    border: solid red 2px;
    width: 15vw;
    display: flex;
    justify-content: space-between;
  }
  img {
    border-radius: 100%;
    height: 70vh;
    width: 26%;
    border: solid #00aaff 5px;
  }
}

//Div
.cardInfo {
  // border: solid rgb(4, 45, 134);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  //  border: solid blue;
  width: 50%;
  height: 30vh;
  .paragrafoSobreMim {
    //   border: solid red;
    text-align: center;
  }
}
address {
  display: flex;
  justify-content: space-evenly;
  // border: solid blue;
  width: 90%;
}
.listaInteresses {
  //  border: solid rgb(11, 74, 162);
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  li {
    background-color: #d4e7d6;
    padding: 0.5rem;
    color: #278733;
    border-radius: 10px;
  }
}
