.containerTelaPerfil {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;

  article {
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 80%;
    padding: 2.5rem;
    border: 1px solid #efeeea;
    border-radius: 16px;
    background-color: #fff;
  }

  img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #00aaff;
  }
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;

  h2 {
    //border: solid red;
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #2e8b57;
    display: flex;
    justify-content: center;
  }

  .paragrafoSobreMim {
    //border: solid purple;
    text-align: left;
    //max-width: 600px;
    line-height: 1.5;
  }
}

address {
  display: flex;
  flex-direction: row;
  //gap: 0.2rem;
  font-style: normal;
  //border: solid blue;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;

  p {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
  }
}

.listaInteresses {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;

  li {
    background-color: #d4e7d6;
    padding: 0.4rem 0.9rem;
    color: #278733;
    border-radius: 8px;
    font-size: 0.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }
}
