.containerTelaInicial {
  //background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    //border: solid red;
    width: 75vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  h1 {
    //border: solid purple;
    font-size: 3.9rem;
    height: 30vh;
    width: 100%;
    color: #205691;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.2rem;
    width: 100%;
    color: #205691;
    font-weight: bold;
  }
  .ImgInicial {
    height: 20%;
  }
}
