.containerTelaInicial {
  //background-color: yellow;
  display: flex;
  align-items: center;
  //padding: 1px;
  //justify-content: center;

  div {
    //border: solid red;
    width: 53%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    padding-left: 35px;
  }

  h1 {
    //border: solid purple;
    font-size: 4.4rem;
    height: 30vh;
    width: 100%;
    color: #205691;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.2rem;
    width: 100%;
    color: #205691;
    font-weight: bold;
  }
  figure {
    display: flex;
    justify-content: flex-end;
    width: 60%;

    .imgInicial {
      height: auto;
      max-width: 97%;
      //border: solid green;
      display: flex;
    }
  }
}
